@model IEnumerable<VehicleRentalSystem.Models.Vehicle>

<div class="container my-5">
   

    <div class="view-card p-0">
        @if (!Model.Any())
        {
            <div class="alert alert-info m-4" role="alert">
                No available vehicles found.
            </div>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-hover"> <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Model</th>
                            <th class="text-end">Rate Per Day</th> <th>Engine Capacity</th>
                         
                    </thead>
                    <tbody>
                        @foreach (var vehicle in Model)
                        {
                            <tr>
                                <td>@vehicle.Id</td>
                                <td>@vehicle.Name</td>
                                <td>@vehicle.Type</td>
                                <td>@vehicle.Model</td>
                                <td class="text-end">Rs. @vehicle.RatePerDay</td>
                                <td>@vehicle.EngineCapacity</td>
                               
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>